body {
    margin: 0px;
}

h1 {
  font-weight: bold;
  font-size: 70px;
  letter-spacing: 2px;
  margin-bottom: 0px;
  font-family: Courier;
  text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
  color: #64F033;
}

.wrapper {
    background: url("https://emlidean.se/semester2.jpg") center center no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
#demo {
    font-family: Courier;
    margin-bottom: 700px;
    font-size: 30px;
    color: yellow;
    font-weight: 500;
    font-weight: bold;
    margin-top: 2px;
    text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
}

#demoTwo {
    font-family: Courier;
    margin-bottom: 0;
    font-size: 30px;
    color: yellow;
    font-weight: 500;
    font-weight: bold;
    margin-top: 2px;
    text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
}

#fredag {
    font-family: Courier;
    margin-bottom: 0;
    font-size: 25px;
    color: aqua;
    font-weight: 500;
    font-weight: bold;
    margin-top: 0;
    text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
}

#turkiet {
    font-family: Courier;
    margin-bottom: 0;
    font-size: 25px;
    color: aqua;
    font-weight: 500;
    font-weight: bold;
    margin-top: 20px;
    text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
}
